:root {
	--comm-col-blue: #228cdb;
	--comm-col-dark: #303036;
	--comm-col-grey: #dee5e5;
	--comm-col-orange: #f45d01;
	--comm-col-white: #fffff;
	--comm-col-success: #38af34;
	--comm-col-failed: #bc1e1e;
}