.server-item {
	background-color: #303030;
   	width: 700px;
   	margin: 10px;
   	color: white;
}

.server-item h1 {
	text-align: center;
	width: 100%;
	margin: 0px;
	color: white;
	text-transform: uppercase;
}

.server-item p {
	text-align: center;
}

.server-item-head {
	display: flex !important;
   	align-items:center !important;
   	background-color: #131313 !important;
}

.server-row {
	display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

.server-icon {
	border-radius: 100px;
	margin: 10px;
	vertical-align: middle;
	padding: 0px;
	width: 100px;
	height: 100px;
}

.connect-btn {
	background-color: #228cdb;
	border: solid #228cdb 2px;
	padding: 10px 20px 10px 20px;
	color: black;
	text-decoration: none;
	transition: all 1s ease;
	position: absolute;
	transform: translate(-50%);
	left: 50%;
}

.connect-btn-offline {
	background-color: #f45d01;
	border: solid #f45d01 2px;
	padding: 10px 20px 10px 20px;
	color: black;
	text-decoration: none;
	transition: all 1s ease;
	position: absolute;
	transform: translate(-50%);						
	left: 50%;
}

.connect-btn:hover {
	background-color: transparent;
	color: white;
}

.connect-btn-offline:hover {
	background-color: transparent;
	color: white;
}