body nav-title {
  position: fixed;
  top: 40px;
  left: 40px;
  z-index: 6;
  font-size: 20px;
  font-weight: 900;
  font-family: sans-serif;
  text-transform: uppercase;
}
body h1 > span {
  text-transform: none;
  opacity: 0.5;
  font-weight: 300;
  font-size: 12px;
  color: white;
}
body input + label {
  position: fixed;
  top: 40px;
  right: 40px;
  height: 20px;
  width: 15px;
  z-index: 5;
}
body input + label span {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  margin-top: -1px;
  left: 0;
  display: block;
  background: white;
  transition: 0.5s;
}
body input + label span:first-child {
  top: 3px;
}
body input + label span:last-child {
  top: 16px;
}
body label:hover {
  cursor: pointer;
}
body input:checked + label span {
  opacity: 0;
  top: 50%;
}
body input:checked + label span:first-child {
  opacity: 1;
  transform: rotate(405deg);
}
body input:checked + label span:last-child {
  opacity: 1;
  transform: rotate(-405deg);
}
body input ~ nav {
  background: #131313;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 3;
  transition: 0.5s;
  transition-delay: 0.5s;
  overflow: hidden;

}
body input ~ nav > ul {
  text-align: center;
  position: absolute;
  top: 35%;
  left: 20%;
  right: 20%;
}
body input ~ nav > ul > li {
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0s;
  list-style: none;
}
body input ~ nav > ul > li > a {
  text-decoration: none !important;
  text-transform: uppercase;
  color: #020304;
  font-weight: 700;
  font-family: sans-serif;
  display: block;
  padding: 30px;
  color: white;
  width: auto;
}
body input ~ nav > ul > li > a:hover {
  color: var(--comm-col-blue);
}
body input:checked ~ nav {
  height: 100%;
  transition-delay: 0s;

}
body input:checked ~ nav > ul > li {
  opacity: 1;
  transition-delay: 0.5s;
}
top-navigation {
  margin: 0px;
  padding: 0px;
  position: fixed;
  z-index: 100;
}